[tool.poetry]
name = "python-bootstrap"
version = "0.1.0"
description = "A bootstrap Python project using Poetry and Pytest"
authors = ["Jules <you@example.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"

[tool.poetry.group.dev.dependencies]
pytest = "^8.4.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
